<div class="d-flex col-12 py-5">
    <ul class="nav col-12 nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{active}}" href="javascript:void(0)" (click)="schedaFilm()">Tutti i Film</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="schedaFilmCategoria()">Filtrati per categoria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="schedaFilmNuova()">Inserisci nuovo Film</a>
        </li>
    </ul>
</div>

<!-- Scheda tutti i film -->
<div class="col-11 mx-auto my-1 pb-5 text-center" *ngIf="scheda=='film'">
    <h5 class="text-white">Cerca per Titolo</h5>
    <form [formGroup]="control" class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <input class="form-control" type="text" formControlName="ricerca" (input)="apiFilm()">
    </form>
    <div class="col-12 col-lg-10 col-xxl-8 mt-5 mx-auto d-flex tabella">
        <table class="col-12 text-center">
            <thead>
                <tr>
                    <td>Modifica</td>
                    <td>Elimina</td>
                    <td>Titolo</td>
                    <td>Uscita</td>
                    <td>Durata</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let film of films" class="border border-light">
                    <td class="px-2">
                        <!-- Modifica -->
                        <button class="btn registra" type="button" (click)="cambiaFilm('Modifica', film)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg></button>
                    </td>
                    <td class="px-2">
                        <!-- Elimina -->
                        <button class="btn elimina" type="button" (click)="cambiaFilm('Elimina', film)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg></button>
                    </td>
                    <td class="px-2">
                        <p>{{film.titolo}}</p>
                    </td>
                    <td class="px-2">
                        <p>{{film.annoUscita}}</p>
                    </td>
                    <td class="px-2">
                        <p>{{film.durata}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-lg-10 col-xxl-8 mx-auto" *ngIf="filmTable!==null">
        <form class="row justify-content-center" [formGroup]="modificaForm" (ngSubmit)="formFilm()">
            <div class="col-12 px-3 bgForm">
                <fieldset class="mt-3">
                    <legend class="m-0 fw-bold">Dati film</legend>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="titolo" id="lbtitolo" [ngClass]="{'noValid': modificaForm.controls['titolo'].touched &&
                            modificaForm.controls['titolo'].errors}">Titolo</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="titolo" name="titolo" formControlName="titolo">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="descrizione" id="lbdescrizione" [ngClass]="{'noValid': modificaForm.controls['descrizione'].touched &&
                            modificaForm.controls['descrizione'].errors}">Descrizione</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <textarea class="form-control" type="text" id="descrizione" name="descrizione"
                                formControlName="descrizione"></textarea>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="durataMinuti" id="lbdurataMinuti" [ngClass]="{'noValid': modificaForm.controls['durataMinuti'].touched &&
                            modificaForm.controls['durataMinuti'].errors}">Durata</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="durataMinuti" name="durataMinuti"
                                formControlName="durataMinuti">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="regista" id="lbregista" [ngClass]="{'noValid': modificaForm.controls['regista'].touched &&
                            modificaForm.controls['regista'].errors}">Regista</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="regista" name="regista"
                                formControlName="regista">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="produttore" id="lbproduttore" [ngClass]="{'noValid': modificaForm.controls['produttore'].touched &&
                            modificaForm.controls['produttore'].errors}">Produttore</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="produttore" name="produttore"
                                formControlName="produttore">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="attori" id="lbattori" [ngClass]="{'noValid': modificaForm.controls['attori'].touched &&
                            modificaForm.controls['attori'].errors}">Attori</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="attori" name="attori" formControlName="attori">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="categoria" id="lbcategoria" [ngClass]="{'noValid': modificaForm.controls['categoria'].touched &&
                            modificaForm.controls['categoria'].errors}">Categoria</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <select class="form-select" id="categoria" name="categoria" formControlName="categoria">
                                <option *ngFor="let categoria of categorie" [value]="categoria.idCategoria">
                                    {{categoria.categoria}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-5 d-flex align-items-center">
                            <label class="form-label my-auto" for="dataUscita" id="lbdataUscita" [ngClass]="{'noValid': modificaForm.controls['dataUscita'].touched &&
                            modificaForm.controls['dataUscita'].errors}">Data di uscita</label>
                        </div>
                        <div class="col-12 col-lg-7">
                            <input class="form-control" type="date" name="dataUscita" id="dataUscita"
                                formControlName="dataUscita">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-12 px-3 bgForm" *ngIf="filmTable!=='Elimina'">
                <fieldset class="mt-3">
                    <legend class="m-0 fw-bold">Carica i file</legend>
                    <div class="row py-2">
                        <upload-file (files)="caricaFiles($event)"></upload-file>
                    </div>
                </fieldset>
            </div>
            <div class="col-12 m-4 align-content-center">
                <div class="d-grid gap-2">
                    <button class="btn registra" type="submit" id="formSub">{{filmTable}} film</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Scheda film per categoria -->
<div class="col-11 mx-auto my-1 pb-5 text-center" *ngIf="scheda=='categoria'">
    <h5>Seleziona la categoria</h5>
    <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <div class="d-flex pb-3 border-bottom border-white flex-wrap">
            <div class="form-check me-3" *ngFor="let categoria of categorie">
                <input class="form-check-input" type="radio" name="categoriaRadio"
                    (click)="apiFilmCategoria(categoria.idCategoria)">
                <label class="form-check-label" for="categoriaRadio">
                    {{categoria.categoria}}
                </label>
            </div>
        </div>

    </div>
    <form [formGroup]="control" class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <input class="form-control" type="text" formControlName="ricerca" (input)="apiFilm()">
    </form>
    <div class="col-12 col-lg-10 col-xxl-8 mt-5 mx-auto d-flex tabella">
        <table class="col-12 text-center">
            <thead>
                <tr>
                    <td>Modifica</td>
                    <td>Elimina</td>
                    <td>Titolo</td>
                    <td>Uscita</td>
                    <td>Durata</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let film of filmCategorie" class="border border-light">
                    <td class="px-2">
                        <!-- Modifica -->
                        <button class="btn registra" type="button" (click)="cambiaFilm('Modifica', film)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg></button>
                    </td>
                    <td class="px-2">
                        <!-- Elimina -->
                        <button class="btn elimina" type="button" (click)="cambiaFilm('Elimina', film)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg></button>
                    </td>
                    <td class="px-2">
                        <p>{{film.titolo}}</p>
                    </td>
                    <td class="px-2">
                        <p>{{film.annoUscita}}</p>
                    </td>
                    <td class="px-2">
                        <p>{{film.durata}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-lg-10 col-xxl-8 mx-auto" *ngIf="filmTable!==null">
        <form class="row justify-content-center" [formGroup]="modificaForm" (ngSubmit)="formFilm()">
            <div class="col-12 px-3 bgForm">
                <fieldset class="mt-3">
                    <legend class="m-0 fw-bold">Dati film</legend>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="titolo" id="lbtitolo" [ngClass]="{'noValid': modificaForm.controls['titolo'].touched &&
                            modificaForm.controls['titolo'].errors}">Titolo</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="titolo" name="titolo" formControlName="titolo">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="descrizione" id="lbdescrizione" [ngClass]="{'noValid': modificaForm.controls['descrizione'].touched &&
                            modificaForm.controls['descrizione'].errors}">Descrizione</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <textarea class="form-control" type="text" id="descrizione" name="descrizione"
                                formControlName="descrizione"></textarea>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="durataMinuti" id="lbdurataMinuti" [ngClass]="{'noValid': modificaForm.controls['durataMinuti'].touched &&
                            modificaForm.controls['durataMinuti'].errors}">Durata</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="durataMinuti" name="durataMinuti"
                                formControlName="durataMinuti">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="regista" id="lbregista" [ngClass]="{'noValid': modificaForm.controls['regista'].touched &&
                            modificaForm.controls['regista'].errors}">Regista</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="regista" name="regista"
                                formControlName="regista">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="produttore" id="lbproduttore" [ngClass]="{'noValid': modificaForm.controls['produttore'].touched &&
                            modificaForm.controls['produttore'].errors}">Produttore</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="produttore" name="produttore"
                                formControlName="produttore">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="attori" id="lbattori" [ngClass]="{'noValid': modificaForm.controls['attori'].touched &&
                            modificaForm.controls['attori'].errors}">Attori</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <input class="form-control" type="text" id="attori" name="attori" formControlName="attori">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-4 d-flex align-items-center">
                            <label class="form-label my-auto" for="categoria" id="lbcategoria" [ngClass]="{'noValid': modificaForm.controls['categoria'].touched &&
                            modificaForm.controls['categoria'].errors}">Categoria</label>
                        </div>
                        <div class="col-12 col-lg-8">
                            <select class="form-select" id="categoria" name="categoria" formControlName="categoria">
                                <option *ngFor="let categoria of categorie" [value]="categoria.idCategoria">
                                    {{categoria.categoria}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-lg-5 d-flex align-items-center">
                            <label class="form-label my-auto" for="dataUscita" id="lbdataUscita" [ngClass]="{'noValid': modificaForm.controls['dataUscita'].touched &&
                            modificaForm.controls['dataUscita'].errors}">Data di uscita</label>
                        </div>
                        <div class="col-12 col-lg-7">
                            <input class="form-control" type="date" name="dataUscita" id="dataUscita"
                                formControlName="dataUscita">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-12 px-3 bgForm" *ngIf="filmTable!=='Elimina'">
                <fieldset class="mt-3">
                    <legend class="m-0 fw-bold">Carica i file</legend>
                    <div class="row py-2">
                        <upload-file (files)="caricaFiles($event)"></upload-file>
                    </div>
                </fieldset>
            </div>
            <div class="col-12 m-4 align-content-center">
                <div class="d-grid gap-2">
                    <button class="btn registra" type="submit" id="formSub">{{filmTable}} serie</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Scheda nuovo film -->
<div class="col-11 m-auto my-1" *ngIf="scheda=='nuovoFilm'">
    <form class="row justify-content-center" [formGroup]="filmForm" (ngSubmit)="nuovoFilm()">
        <div class="col-12 col-lg-6 px-3 bgForm">
            <fieldset class="mt-3">
                <legend class="m-0 fw-bold">Dati film</legend>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="titolo" id="lbtitolo" [ngClass]="{'noValid': filmForm.controls['titolo'].touched &&
                                        filmForm.controls['titolo'].errors}">Titolo</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input class="form-control" type="text" id="titolo" name="titolo" formControlName="titolo">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="descrizione" id="lbdescrizione" [ngClass]="{'noValid': filmForm.controls['descrizione'].touched &&
                                        filmForm.controls['descrizione'].errors}">Descrizione</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <textarea class="form-control" type="text" id="descrizione" name="descrizione"
                            formControlName="descrizione"></textarea>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="durataMinuti" id="lbdurataMinuti" [ngClass]="{'noValid': modificaForm.controls['durataMinuti'].touched &&
                            modificaForm.controls['durataMinuti'].errors}">Durata</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input class="form-control" type="text" id="durataMinuti" name="durataMinuti"
                            formControlName="durataMinuti">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="regista" id="lbregista" [ngClass]="{'noValid': filmForm.controls['regista'].touched &&
                                        filmForm.controls['regista'].errors}">Regista</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input class="form-control" type="text" id="regista" name="regista" formControlName="regista">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="produttore" id="lbproduttore" [ngClass]="{'noValid': filmForm.controls['produttore'].touched &&
                                        filmForm.controls['produttore'].errors}">Produttore</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input class="form-control" type="text" id="produttore" name="produttore"
                            formControlName="produttore">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="attori" id="lbattori" [ngClass]="{'noValid': filmForm.controls['attori'].touched &&
                                        filmForm.controls['attori'].errors}">Attori</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input class="form-control" type="text" id="attori" name="attori" formControlName="attori">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <label class="form-label my-auto" for="categoria" id="lbcategoria" [ngClass]="{'noValid': filmForm.controls['categoria'].touched &&
                            filmForm.controls['categoria'].errors}">Categoria</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <select class="form-select" id="categoria" name="categoria" formControlName="categoria">
                            <option *ngFor="let categoria of categorie" [value]="categoria.idCategoria">
                                {{categoria.categoria}}</option>
                        </select>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 col-lg-5 d-flex align-items-center">
                        <label class="form-label my-auto" for="dataUscita" id="lbdataUscita" [ngClass]="{'noValid': filmForm.controls['dataUscita'].touched &&
                                        filmForm.controls['dataUscita'].errors}">Data di uscita</label>
                    </div>
                    <div class="col-12 col-lg-7">
                        <input class="form-control" type="date" name="dataUscita" id="dataUscita"
                            formControlName="dataUscita">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-12 col-lg-6 px-3 bgForm">
            <fieldset class="mt-3">
                <legend class="m-0 fw-bold">Carica i file</legend>
                <div class="row py-2">
                    <upload-file (files)="caricaFiles($event)"></upload-file>
                </div>
                <p *ngIf="error!==null">{{error}}</p>
            </fieldset>
        </div>
        <div class="col-12 col-lg-6 m-4 align-content-center">
            <div class="d-grid gap-2">
                <button class="btn registra" type="submit" id="formSub"
                    [disabled]="!filmForm.valid || filesCaricati==null">Salva nuovo Film</button>
            </div>
        </div>
    </form>
</div>