@import "../../../variabili.scss";

nav.navbar {
    background-color: $primaryColor;

    #codex {
        font-weight: bolder;
        color: $tertiaryColor;
    }

    .nav-item:hover,
    .dropdown-item:hover {
        background-color: $secondaryColor;
    }
}

ul.dropdown-menu {
    background-color: $primaryColor;
}

.attivo {
    color: $lightColor;
    background-color: $tertiaryColor;
}