@import "../../../../variabili.scss";

h5, label, legend {
    color: $lightColor;
}

.tabella {
    height: 200px;
    overflow-y: scroll;
}

tr,
th,
td,
p {
    background-color: $darkColor;
    color: $lightColor;
}

input.ng-touched.ng-invalid {
    border: 2px solid red;
   
}

.noValid {
    color: $secondaryColor;
    font-weight: bolder;
    text-decoration: underline;
}

button.registra {
    margin: auto;
    font-weight: bolder;
    color: $darkColor;
    background-color: $secondaryColor;
}

button.accedi {
    margin: auto;
    font-weight: bolder;
    color: $lightColor;
    background-color: $tertiaryColor;
}

button.elimina {
    margin: auto;
    font-weight: bolder;
    color: $lightColor;
    background-color: darkred;
}