<!-- Modal -->

<div [config]="{backdrop: 'static'}" [config]="{ show: true }" (onHidden)="onHidden()" bsModal
  #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">

   <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center w-100">
        <h4 id="dialog-static-name" class="modal-title m-auto">Modifica Credenziali</h4>
      </div>
      <div class="modal-body">

        <form class="row justify-content-center" [formGroup]="credenzialiForm" (ngSubmit)="formCredenziali()">
          <fieldset class="mt-3">
            <legend class="m-0 fw-bold">Modifica password</legend>
            <div class="row py-2">
              <div class="col-12 col-lg-4 d-flex align-items-center">
                <label class="form-label my-auto" for="passwordVecchia" id="lbpasswordVecchia" [ngClass]="{'noValid': credenzialiForm.controls['passwordVecchia'].touched &&
                              credenzialiForm.controls['passwordVecchia'].errors}">Password vecchia</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="password" class="form-control" id="passwordVecchia" name="passwordVecchia"
                  formControlName="passwordVecchia">
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-lg-4 d-flex align-items-center">
                <label class="form-label my-auto" for="password1" id="lbpassword1" [ngClass]="{'noValid': credenzialiForm.controls['password1'].touched &&
                              credenzialiForm.controls['password1'].errors}">Password nuova</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="password" class="form-control" id="password1" name="password1" formControlName="password1">
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-lg-4 d-flex align-items-center">
                <label class="form-label my-auto" for="passwordRepeat" id="lbrepeat" [ngClass]="{'noValid': credenzialiForm.controls['passwordRepeat'].touched &&
                              credenzialiForm.controls['passwordRepeat'].errors}">Ripeti Password</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat"
                  formControlName="passwordRepeat">
              </div>
            </div>
            <div id="barPassword" style="height: 10px;" [ngStyle]="{'backgroundColor': barColor, 'width': barWidth}">
            </div>
            <div id="alertPassword">{{alertPassword}}</div>
          </fieldset>
          <div class="mt-3">
            <button class="btn registra" type="submit" [disabled]="!credenzialiForm.valid">Modifica
              Password</button>
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <div class="row w-100">
          <button type="button" class="btn elimina fs-5 m-auto" data-bs-dismiss="modal"
            routerLink="/home">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>