@import "../../../variabili.scss";

div {
    padding-top: 20px;
    h3 {
    padding: 10px 10px 0px 10px;
    color: $lightColor;
    }
}

slide {
    height: 350px;
    overflow: hidden;
}

#carousel-content {
    width: 100%;
    padding: 10px;
    
}