@import "../../../variabili.scss";

div {
    padding-top: 20px;

    a {
        text-decoration: none;
        
        h3 {
            padding: 10px 10px 0px 10px;
            color: $lightColor;

            &:hover {
                color: $secondaryColor;
            }
        }
    }
}

slide {
    height: 350px;
    overflow: hidden;
}

#carousel-content {
    width: 100%;
    padding: 10px;

}