@import "../../../../variabili.scss";
.modal-content {
    background-color: $primaryColor;
    border-left: 10px solid $secondaryColor;
    border-right: 10px solid $secondaryColor;
    border-radius: 0px;
}
h3 {
    color: $darkColor;
}
h5 {
    color: $darkColor;
    text-decoration: underline;
}
.bgForm {
    background-color:$primaryColor;
}

input.ng-touched.ng-invalid {
    border: 2px solid red;
   
}

.form-check-label {
    text-decoration: underline;
}
.form-check-input {
    border: solid 3px $tertiaryColor
}
button.registra {
    font-weight: bolder;
    color: $darkColor;
    background-color: $secondaryColor;
}

button.accedi {
    font-weight: bolder;
    color: $lightColor;
    background-color: $tertiaryColor;
}